<script>
  'use strict'
  import SelectPlayersOption from './SelectPlayersOption.svelte';
  import {_playerList, _playersName, _playersScore} from '../store/store';

  let playerName = '';

  function addPlayer() {
    _playerList.update(players => [...players, playerName]);
    playerName = '';
  }
</script>


<div>
  <div class="flex flex-col">
    <input
      id="playerName"
      type="text"
      bind:value={playerName}
      placeholder="Player Name"
      class="border-2 border-blue-800 my-2 h-12 p-2">
    <button class="bg-blue-800 p-4 rounded-md text-white font-semibold" on:click={addPlayer}>ADD</button>
  </div>
</div>