<script>
  'use strict'
  import {location, push} from 'svelte-spa-router';

</script>

<h1
  on:click="{() => push('/')}"
  class="bg-blue-800 text-xl font-bold text-blue-100 text-center py-4 tracking-widest">ピンポン</h1>
	<nav class="flex gap-4 text-sm px-2">
		<a class="text-blue-800 font-semibold uppercase" class:selected-nav={$location !== '/match'} href="/#/match">Match</a>
		<a class="text-blue-800 font-semibold uppercase" class:selected-nav={$location !== '/settings'} href="/#/settings">settings</a>
		<a class="text-blue-800 font-semibold uppercase" class:selected-nav={$location !== '/report'} href="/#/report">Report</a>
		<a class="text-blue-800 font-semibold uppercase" class:selected-nav={$location !== '/players-management'} href="/#/players-management">Players</a>
	</nav>
<div class="h-1 bg-blue-800"></div>