<script>
  'use strict'
  import { push } from 'svelte-spa-router';

  const bigHomeNavigation = [
    {
      name: 'Match',
      path: '/match',
    },
    {
      name: 'Settings',
      path: '/settings',
    },
    {
      name: 'Report',
      path: '/report',
    },
    {
      name: 'Players',
      path: '/players-management',
    },
  ];
</script>

<div class="height-max flex items-center justify-center">
  <div class="w-full grid grid-cols-2 gap-4">
    {#each bigHomeNavigation as btn}
      <button
        on:click={ () => push(btn.path)}
        class="p-4 bg-blue-800 rounded-lg hover:shadow-xl hover:shadow-blue-800/20
        font-semibold text-blue-50 aspect-square
        hover:bg-blue-300 hover:text-blue-800"
        >
        {btn.name}
      </button>
    {/each}
  </div>
</div>

<style>
  .height-max {
    height: 70vh;
  }
</style>