<script>
	'use strict'
	import Player from './Player.svelte';
	import MatchEnd from './MatchEnd.svelte';
	import { _playersScore, _matchEnd, _scoreToWin, _diffScore, _playerNb, _matchCollection, _playersName } from '../store/store';
  
  let matchStart = new Date().toISOString();
  let prevMatchEnd = null;

	// ------------------------------------------------------------
	_playersScore.subscribe(scores => {
		const end = isMatchEnd(scores);
    _matchEnd.set(end);
  });

  $:{
    if ($_matchEnd && prevMatchEnd !== null) {
      recordMatch();
    }
    prevMatchEnd = $_matchEnd;
  }
	
	// ------------------------------------------------------------
  function isMatchEnd(scores) {
    const diff = Math.abs(scores[0] - scores[1]);
    if (scores.some(s => s >= $_scoreToWin) && diff >= $_diffScore) {
      return true;
    }
    return false;
  }

  function recordMatch() {
    const matchModel = {
      start: matchStart,
      end: new Date().toISOString(),
      result: [
        {
          player: $_playersName[0],
          score: $_playersScore[0]
        },
        {
          player: $_playersName[1],
          score: $_playersScore[1]
        },
      ],
    };
    _matchCollection.update( coll => [...coll, matchModel]);
  }

</script>

<p class="text-sm text-blue-400 text-center tracking-widest">🏆/{$_scoreToWin} ( +{$_diffScore} )</p>
<div class="mt-2 flex flex-wrap justify-around  gap-4">

  {#each Array($_playerNb) as _, i}
  <Player playerIdx={i}></Player>
  {/each}
  <!-- <Player playerIdx={1}></Player> -->
</div>
<MatchEnd></MatchEnd>
