<script>
  'use strict'
  import { _playersScore, _matchEnd, _playerNb } from '../store/store.js';

  // ------------------------------------------------------------
  function restart() {
    const reinitScores = Array.from('x'.repeat(5)).map(e => 0);
    _playersScore.set(reinitScores);
  }
</script>


{#if $_matchEnd}
<h1 class="mt-10 text-3xl text-center">Match end</h1>
<div class="flex justify-center">
  <button on:click="{restart}" class="mt-6 py-2 px-4 text-xl text-center bg-blue-400 hover:bg-green-400 text-gray-200 hover:text-gray-900 rounded-md shadow-md uppercase tracking-wider font-semibold">restart</button>
</div>
{/if}