<script>
  'use strict'
  import { _playerList } from '../store/store';

  function deleteUser(idx) {
    let tempPlayerList = $_playerList;
    tempPlayerList.splice(idx, 1);
    console.log('tempPlayerList: ', tempPlayerList);
    _playerList.set(tempPlayerList);
  }
</script>

<div class="mt-4">
  <ul>
    {#each $_playerList as player, idx}
      <li class="flex border-b-2 border-blue-800 justify-between align-center py-4 font-semibold text-md">
        {player} <span class="text-red-600 text-xs" on:click={() => deleteUser(idx)}>DELETE</span>
      </li>
    {:else}
      <p class="text-center font-semibold">NO PLAYERS YET</p>
    {/each}
  </ul>
</div>