<script>
  'use strict'
  import { _playersScore, _matchEnd, _serviceNb, _playerNb, _diffScore, _playersName } from '../store/store.js';
  import SelectPlayersOption from './SelectPlayersOption.svelte';
  import PlayerService from './PlayerService.svelte';

  export let playerIdx;
  let playerScore = 0;
  let scoreSum = 0;
  
  // ------------------------------------------------------------
  $: playerScore, preventNegative(playerScore);

  _playersScore.subscribe(scores => {
    playerScore = scores[playerIdx];
    scoreSum = scores.length > 0 ? scores.reduce((a, b = 0) => a+b) : 0;
  });

  // ------------------------------------------------------------
  function incr() {
    _playersScore.update(n => n.map((s, idx) => idx === playerIdx ? s+1 : s));
  }

  function decr() {
    _playersScore.update(n => n.map((s, idx) => idx === playerIdx ? s-1 : s));
  }

  function preventNegative(num) {
    num < 0 ? _playersScore.update(n => n.map((s, idx) => idx === playerIdx ? 0 : s)) : undefined;
  }
</script>

<div class="">
  <SelectPlayersOption idx={playerIdx}></SelectPlayersOption>
  <div class="w-40 bg-blue-800 py-4 rounded-xl ">
    <p class=" text-6xl mt-4 text-blue-50 text-center font-semibold">{ playerScore }</p>
    <p class="text-xs text-blue-50 text-center">score</p>
    <div class="mt-6 flex flex-col items-center">
      <button class="rounded-full h-16 w-16 p-2 text-4xl text-center bg-green-400 hover:bg-green-400 text-gray-200 hover:text-gray-900 shadow-md uppercase tracking-wider font-semibold disabled:opacity-50" disabled={$_matchEnd} on:click="{incr}">+</button>
      <button class="rounded-full h-12 w-12 mt-4 p-2 text-2xl text-center bg-red-400 hover:bg-red-400 text-gray-200 hover:text-gray-900 shadow-md uppercase tracking-wider font-semibold disabled:opacity-50" disabled={$_matchEnd} on:click="{decr}">-</button>
    </div>
    <PlayerService
      nbService={$_serviceNb}
      isServe={(scoreSum % ($_serviceNb * $_playerNb)) - playerIdx * $_serviceNb}>
    </PlayerService>
  </div>
</div>