<script>
  'use strict'

  export let isServe = 0;
  export let nbService = 0;
</script>

<div class="mt-6 flex flex-wrap justify-around gap-2">
  {#each Array(nbService) as _, i}
  <div class="h-7 w-7 bg-blue-50 rounded-full flex justify-center items-center">
    {#if isServe === i}
    <p>🏓</p>
    {/if}
  </div>
  {/each}
</div>