<script>
  'use strict'
  import { _matchCollection } from '../store/store';
</script>


<div>
  <table class="w-full border-collapse border border-gray-400">
    <thead class="bg-gray-200">
      <tr class="border border-gray-300 text-gray-600">
        <th class="font-light text-sm border border-gray-400">Player 1</th>
        <th class="font-light text-sm border border-gray-400">Player 2</th>
        <th class="font-light text-sm border border-gray-400">Score</th>
        <th class="font-light text-sm border border-gray-400">Date</th>
      </tr>
    </thead>

    <tbody class="">
      {#each $_matchCollection as match}
      <tr class="border border-gray-300">
        <td class="border border-gray-300 text-sm p-2">{match.result[0].player}</td>
        <td class="border border-gray-300 text-sm p-2">{match.result[1].player}</td>
        <td class="border border-gray-300 text-sm p-2">{match.result[0].score} - {match.result[1].score}</td>
        <td class="border border-gray-300 text-sm p-2">{new Date(match.start).toDateString()}</td>
  
      </tr>
      {/each}

    </tbody>
  </table>
</div>
