<script>
  'use strict'
  import {_playerList, _playersName, _playersScore} from '../store/store';

  export let idx;
  let selectedPlayer = $_playersName[idx];

  function updateMatchPlayer() {
    console.log('idx: ', idx, 'name: ', selectedPlayer);
    const playerMatch = [...$_playersName];
    playerMatch[idx] = selectedPlayer;
    _playersName.set(playerMatch);
    console.log('$_playersName: ', $_playersName);
  }
</script>

<div>
  <select
    name="player"
    id="playerName"
    bind:value={selectedPlayer}
    on:change={(_ => updateMatchPlayer())}
    class=" w-40 h-12 p-2 text-xl bg-transparent text-blue-800 font-semibold text-center uppercase">
    <option value=''>player</option>
      {#each $_playerList as player}
        <option class="text-xl uppercase" value={player}>{player}</option>
      {/each}
  </select>
</div>