<script>
  'use strict'
  import { _serviceNb, _playerNb, _scoreToWin, _diffScore, _playersScore} from '../store/store'

  $: _playersScore.set(Array.from('x'.repeat($_playerNb)).map(_ => 0))
</script>


<div>
  <div class="flex flex-col">
    <label class="bg-blue-800 p-1 pl-4 text-white" for="nbplayer">Players</label>
    <input
      class="border-2 border-blue-800 h-12 p-2 pl-4 font-semibold text-xl"
      type="number"
      name="nbplayer"
      id="nbplayer"
      min="2"
      bind:value={$_playerNb}>
  </div>
  <div class="mt-6 flex flex-col">
    <label class="bg-blue-800 p-1 pl-4 text-white" for="nbservice">Service per player</label>
    <input
    class="border-2 border-blue-800 h-12 p-2 pl-4 font-semibold text-xl"
    type="number"
    name="nbservice"
    id="nbservice"
    min="1"
    bind:value={$_serviceNb}>
  </div>
  <div class="mt-6 flex flex-col">
    <label class="bg-blue-800 p-1 pl-4 text-white" for="nbplayer">Score To win</label>
    <input
    class="border-2 border-blue-800 h-12 p-2 pl-4 font-semibold text-xl"
    type="number"
    name="nbplayer"
    id="nbplayer"
    min="1"
    bind:value={$_scoreToWin}>
  </div>
  <div class="mt-6 flex flex-col">
    <label class="bg-blue-800 p-1 pl-4 text-white" for="nbplayer">Diff To win</label>
    <input
    class="border-2 border-blue-800 h-12 p-2 pl-4 font-semibold text-xl"
    type="number"
    name="nbplayer"
    id="nbplayer"
    min="1"
    bind:value={$_diffScore}>
  </div>
</div>