<script>
	'use strict'
	import Router, { location } from 'svelte-spa-router';
	import { _playersScore } from './store/store'; 
	import Match from './components/Match.svelte';
	import Settings from './components/Settings.svelte';
	import Report from './components/Report.svelte';
	import PlayersManagement from './components/PlayersManagement.svelte';
	import Header from './components/Header.svelte';
	import Home from './components/Home.svelte';
	import LocalStorageManagement from './components/LocalStorageManagement.svelte';
	// ------------------------------------------------------------

	// ------------------------------------------------------------
</script>

<div class="bg-gray-50">
	<div class="bg-gray-50 min-h-screen max-w-md mx-auto">
			<Header/>
		<div class="px-2 my-2 text-xs text-blue-300">
			{$location}
		</div>
		<div class="px-1 pt-2">
			<Router routes={{
				'/': Home,
				'/match': Match,
				'/settings': Settings,
				'/report': Report,
				'/players-management': PlayersManagement,
			}} />
		</div>
	</div>
	<LocalStorageManagement></LocalStorageManagement>
</div>


<style global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

	.selected-nav {
		color: rgba(93, 144, 255, 1);
	}
</style>